body {

    margin: 0;
    overflow: hidden;

    background: url('./duckhunt-bg-4k.png');

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    background-attachment: fixed;

    cursor: url('./target.png'), auto;

    touch-action: manipulation;
}


@font-face {

    font-family: gameFont;

    src: url('./game-font.otf');
}


#score {

    position: fixed;

    top: 10px;

    left: 10px;

    font-size: clamp(20px, 5vw, 30px);

    font-family: gameFont;

    color: white;

    z-index: 999;
}